<div class="chat">
  <div class="chat-top">
    <div class="chat-group">hogefuga</div>
    <div class="chat-end-btn">
      <a href="#">チャットを終了する</a>
    </div>
  </div>
  <div class="chat-main">
    <div class="chat-message">
      <div class="chat-upper-message">
        <div class="chat-user">
          Tom
        </div>
        <div class="chat-date">
          2022/06/17(Fri) 14:19:00
        </div>
      </div>
      <div class="chat-lower-message">
        <div class="chat-content">
          おはよう
        </div>
      </div>
    </div>
    <div class="chat-message">
      <div class="chat-upper-message">
        <div class="chat-user">
          Tom
        </div>
        <div class="chat-date">
          2022/06/17(Fri) 14:23:00
        </div>
      </div>
      <div class="chat-lower-message">
        <div class="chat-content">
          こんばんは
        </div>
      </div>
    </div>
  </div>
  <div class="chat-bottom">
    <div class="chat-bottom-form">
      <input  placeholder="type a message" class="content-form">
      <label class="form-image">
        <span class="image-file">画像</span>
        <input type="file" class="hidden">
      </label>
    </div>
    <input type="submit" value="送信" class="send-form">
    </div>
  </div>
</div>
