
    <div class="chat-message">
      <div class="chat-upper-message">
        <div class="chat-user">
          <%= message.user.name %>
        </div>
        <div class="chat-date">
          <%= message.created_at %>
        </div>
      </div>
      <div class="chat-lower-message">
        <div class="chat-content">
          <%= message.content%>
        </div>
      </div>
    </div>