<div class="side-bar">
  <div class="side-top">
    <div class="user-name">
      <a href="#">Tom</a>
    </div>
    <div class="chat-create">
      <a href="#">チャットを作成する</a>
    </div>
  </div>
  <div class="side-room">
    <div class="room-name">
      <% 10.times do |t| %>
        <a href="#"><%= "techroom#{t+1}" %></a>
      <% end %>
    </div>
  </div>
</div>
